# Directories
/build/
/build-*/
/Debug/
/Release/
/Docs/.obsidian/

# Binaries and libraries
/bin2c
/shaderc
LatticeLab
Lattice-cli
LatticeTests
RenderTests
captures
*.exe
*.dll
*.so

# CLion / JetBrains
.idea/
cmake-build-*/

# VS Code
.vscode/

# Runtime / logs
*.log
*.tmp
*.temp

# Local app state
*.ini

# Python
__pycache__/

# user settings
user_settings.cfg